services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "9090:9090"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"